<!-- <img src="assets/images/1.jpg" alt="2" /> -->

<hr />
<img class="" src="{{ imgSrc }}" width="400px" height="400px" alt="2" />
<br />
<br />
<!-- <img class="hide" src="assets/Images/2.jpg" alt="3" />
<img class="hide" src="assets/Images/3.jpg" alt="4" />
<img class="hide" src="assets/Images/4.jpg" alt="5" />
<img class="hide" src="assets/Images/5.jpg" alt="5" /> -->
<div>
  <input type="button" value="next" (click)="nextImg()" />
  <input type="button" value="prev" (click)="prevImg()" />
  <input type="button" value="start" (click)="startSlideShow()" />
  <input type="button" value="stop" (click)="stopSlideShow()" />
</div>
