<form (ngSubmit)="submitData()" [formGroup]="myRegForm" class="form">
  <!-- User Name -->
  <div class="form-group d-flex m-3">
    <label class="w-25">Name</label>
    <input  formControlName="name" class="form-control w-50" type="text">
    @if (!NameValid && !NameEmpty ) {
      <p style="color: red;">{{nameValMsg}}</p>
    }
  </div>
  <!-- User Age --> 
  <div class="form-group d-flex m-3">
    <label class="w-25">Age</label>
    <input formControlName="age" class="form-control w-50" type="number">
    @if (!AgeValid && !AgeEmpty ) {
      <p style="color: red;"> {{ageValMsg}}</p>
    }
  </div>

  <!-- User Email --> 
  <div class="form-group d-flex m-3">
    <label class="w-25">Emali</label>
    <input formControlName="email" class="form-control w-50" type="email">
    @if (!EmailValid && !EmailEmpty) {
      <p style="color: red;"> {{emailValMsg}}</p>
    }
  </div>
  <!-- Submit -->
  <div class="form-group m-3 text-center">
    <input class="btn btn-outline-dark"  type="submit" value="ADD">
  </div>

  <button class="btn btn-secondary">test</button>

</form>

