<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <div class="table">
          <div class="thead-dark">
            <div class="row">
              <div class="col">#</div>
              <div class="col">Name</div>
              <div class="col">Age</div>
              <div class="col">Details</div>
              <div class="col">Update</div>
              <div class="col">Delete</div>
            </div>
          </div>

          <div class="table-success">
            @for (std of AllStudents; track std.id) {
              <div class="row">
                <app-one-student class="row" [oneStd]="std" (deleteStudentEvent)="onDeleteStudent($event)"
                 appCustom></app-one-student>
              </div>               
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="fixed-bottom end-0 m-2">
  <a class="btn btn-success btn-outline-dark d-block" routerLink="/newstudent">+</a>
</div>



<!-- @for (std of AllStudents; track std.id){
  <tr>
    <app-one-student [oneStd]="std"></app-one-student>
  </tr>
} -->
