<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">Details</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody class="table-Success">
    <tr *ngFor="let std of AllStudents; trackBy: trackById">
      <app-one-student [oneStd]="std"></app-one-student>
    </tr>
  </tbody>
</table>

<div class="fixed-bottom end-0 m-2">
  <a class="btn btn-success btn-outline-dark d-block" routerLink="/newstudent">+</a>
</div>
