<!-- <nav class="navbar" style="background-color: #e3f2fd;">
    
<ul>
  <p><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Form</a></p>
  <p><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a></p>
  <p><a routerLinkActive="active" routerLink="/students/10">Student Details</a></p>
  <p><a routerLinkActive="active" routerLink="/profile">Profile</a></p>
  <p><a routerLinkActive="active" routerLink="/afaojlaflna">Error</a></p>
</ul>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/">Form</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/students">Students</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/students/10">Student Details</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/afaojlaflna">Error</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg bg-body-secondary mx-auto text-center w-75">
  <div class="container-fluid justify-content-center">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline ms-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a btn btn-outline-primary [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/" class="nav-link active" aria-current="page">Form</a>          
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/students" class="nav-link ">Students</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/students/10" class="nav-link ">Details</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/profile" class="nav-link ">Profile</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/asdsad" class="nav-link ">Error</a>
        </li>
      </ul>
    </div>
  </div>
</nav>