<tr>
    <th scope="row">{{ oneStd.id }}</th>
    <td>{{ oneStd.name }}</td>
    <td>{{ oneStd.age }}</td>
    <td><a routerLink="/students/{{ oneStd.id }}" class="link-info">details</a></td>
    <td>
      <a routerLink="/updatestudent/{{ oneStd.id }}" class="link-info">
        <i class="bi bi-pencil-square text-warning"></i>
      </a>
    </td>
    <td>
      <a (click)="DeleteStudent(oneStd.id)" class="link-info">
        <i class="bi bi-trash text-danger"></i>
      </a>
    </td>
  </tr>
  