<div class="col">{{ oneStd.id }}</div>
<div class="col">{{ oneStd.name | custom }}</div>
<div class="col">{{ oneStd.age  }}</div>
<div class="col">
  <a routerLink="/students/{{ oneStd.id }}" class="link-info">Details</a>
</div>
<div class="col">
  <a routerLink="/updatestudent/{{ oneStd.id }}" class="link-info">
    <i class="bi bi-pencil-square text-warning"></i>
  </a>
</div>
<div class="col">
  <a (click)="DeleteStudent(oneStd.id)"   class="link-info">
    <i class="bi bi-trash text-danger"></i>
  </a>
</div>



    <!-- <td>
      <a (click)="DeleteStudent(oneStd.id)" class="link-info">
        <i class="bi bi-trash text-danger"></i>
      </a>
    </td> -->
  